/* Stylesheet for github page */




ul li {
	color: black;
	text-decoration: none;
	}

ul li:visited {
	color: gray;
	text-decoration: none;
	}
		
	
/* Custom Classes */	
.bg-hover-darken:hover {
	filter: brightness(85%);
	}
	
	
.square-button a {
	text-decoration: none;
	text-color: black;
	}
